<script type="module">
  import { Controller } from "./js/stimulus.js"

  Stimulus.register("editor",  class extends Controller {
    static targets = [ "modifier", "key" ]

    modifiers;

    connect() {
      this.modifiers = {}

      this.modifierTargets.forEach(e => {
        this.modifiers[e.dataset.modifierKey] = e
        this.modifiers[e.dataset.modifierFunc] = e
      })
    }

    resetModifiers() {
      this.modifierTargets.forEach(e => e.classList.toggle("active", false))
    }

    activateModifier(code) {

      const element = this.modifiers[code]
      if (element) {
        element.classList.toggle("active", true)
      }

    }

    keyText(code) {
      this.keyTarget.innerText = code
    }

    open({ detail }) {

      this.resetModifiers()

      detail.firstKey.split(",").forEach(code => {

        if (this.modifiers[code]) {
          this.activateModifier(code)
        } else {
          this.keyText(code)
        }

      })

      this.element.showModal()
    }

    cancel(event){
      this.element.close()
    }

    accept(event){
      this.element.close()
    }
  })
</script>

<dialog id="key-editor"
  data-controller="editor"
  data-keyboard-target="editor"
  data-action="keyboard:open->editor#open"
  >

  <h5>Key</h5>
  <div data-editor-target="key"></div>


  <h5>Modifiers</h5>
  <div class="modifiers">
    <div data-editor-target="modifier" data-modifier-key="LSHIFT" data-modifier-func="LS">Left Shift</div>
    <div data-editor-target="modifier" data-modifier-key="RSHIFT" data-modifier-func="RS">Right Shift</div>
    <div data-editor-target="modifier" data-modifier-key="LCTRL" data-modifier-func="LC">Left Ctrl</div>
    <div data-editor-target="modifier" data-modifier-key="RCTRL" data-modifier-func="RC">Right Ctrl</div>
    <div data-editor-target="modifier" data-modifier-key="LALT" data-modifier-func="LA">Left Alt</div>
    <div data-editor-target="modifier" data-modifier-key="RALT" data-modifier-func="RA">Right Alt</div>
    <div data-editor-target="modifier" data-modifier-key="LGUI" data-modifier-func="LG">Left Meta</div>
    <div data-editor-target="modifier" data-modifier-key="RGUI" data-modifier-func="RG">Right Meta</div>
  </div>

  <div>
    <button value="cancel" data-action="editor#cancel">Cancel</button>
    <button value="default" data-action="editor#accept">Confirm</button>
  </div>
</dialog>