<script type="module">
import { Controller } from "./js/stimulus.js"
Stimulus.register("keyboard", class extends Controller {
  static targets = [ "layerTab", "layer", "editor" ]
  static values = { selectedLayer: Number }

  selectLayer(event) {
    event.preventDefault()
    this.selectedLayerValue = Number(event.target.dataset.layer)
  }

  selectedLayerValueChanged() {

    // select the tab
    this.layerTabTargets.forEach((element, index) => {
      element.classList.toggle("active", index === this.selectedLayerValue)
    })

    this.layerTargets.forEach((element, index) => {
      element.hidden = index !== this.selectedLayerValue
    })

  }

  editKey(event) {
    const key = event.target.closest("div.key")

    const data = {
      codes: key.dataset.codes,
      type: key.dataset.type
    }

    this.dispatch("open", { target: this.editorTarget, detail: data})
  }

})
</script>

<div data-controller="keyboard">

  {{ $layout := .Layout }}
  <ul class="nav nav-tabs">
  {{ range $index, $layer := .Keymap.Layers }}
    <li class="nav-item">
      <a class="nav-link" data-layer="{{ $index }}" data-keyboard-target="layerTab" data-action="keyboard#selectLayer">{{ $layer.Name }}</a>
    </li>
  {{ end }}
  </ul>

  {{ range $layerIndex, $layer := .Keymap.Layers }}
  <div style="position: relative; width: 975px; height: 301.476px; padding: 40px;" data-keyboard-target="layer" >
  {{range $i, $key := $layout }}
    {{ $binding := index $layer.Bindings $i }}

    <div class="key" style="{{ $key.Style }}"
      data-keyboard-target="key"
      data-action="click->keyboard#editKey"
      data-type="{{ $binding.Type }}"
      data-codes="{{ $binding.Codes }}"
    >
      <span class="binding">{{ $binding.Type }} : {{ $binding.Codes }}</span>
    </div>

  {{end}}
  </div>
  {{ end }}

  {{ template "partials/editor" . }}


</div>
